
.blinking-cursor {
    animation: blink 1.3s infinite;
    font-style: italic;
    font-weight: bold;
    transform: skewX(-10deg);
    display: inline-block;
    font-family: monospace;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}